{
  "extends": ["airbnb", "plugin:flowtype/recommended"],
  "parser": "babel-eslint",
  "plugins": ["flowtype"],
  "rules": {
    "consistent-return": "off",
    "flowtype/no-types-missing-file-annotation": "warn",
    "flowtype/type-id-match": ["error", "^([A-Z][a-z0-9$]*)+$"],
    "global-require": "warn",
    "import/prefer-default-export": "warn",
    "max-len": [
      "error",
      {
        "code": 200,
        "ignoreTrailingComments": true
      }
    ],
    "no-console": "warn",
    "no-nested-ternary": "warn",
    "no-underscore-dangle": "warn",
    "no-use-before-define": "warn",
    "react/forbid-prop-types": "warn",
    "react/jsx-filename-extension": "off",
    "react/no-array-index-key": "warn",
    "react/prop-types": "warn",
    "react/require-default-props": "off"
  },
  "globals": {
    "__DEV__": true,
    "ActionCreator": true,
    "fetch": true,
    "FileReader": true,
    "FormData": true,
    "HTMLInputElement": true,
    "ReduxAction": true,
    "ReduxDispatch": true,
    "ReduxState": true,
    "ReduxStore": true,
    "ReduxThunk": true,
    "stubData": true,
    "XMLHttpRequest": true
  }
}
